<div class="login-form">
  <h1>Register</h1>
  <form [formGroup]="registerForm">
    <!-- Username input -->
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="form-outline mb-4">
            <input
              type="email"
              id="form2Example1"
              class="form-control"
              formControlName="username"
            />
            <label class="form-label" for="form2Example1">Username</label>
          </div>

          <div class="form-outline mb-4">
            <input
              type="text"
              id="form2Example2"
              class="form-control"
              formControlName="firstName"
            />
            <label class="form-label" for="form2Example2">First Name</label>
          </div>

          <div class="form-outline mb-4">
            <input
              type="email"
              id="form2Example2"
              class="form-control"
              formControlName="email"
            />
            <label class="form-label" for="form2Example2">Email</label>
          </div>
        </div>

        <div class="col-md-6">
          <!-- Password input -->
          <div class="form-outline mb-4">
            <input
              type="password"
              id="form2Example2"
              class="form-control"
              formControlName="password"
            />
            <label class="form-label" for="form2Example2">Password</label>
          </div>
          <div class="form-outline mb-4">
            <input
              type="text"
              id="form2Example2"
              class="form-control"
              formControlName="lastName"
            />
            <label class="form-label" for="form2Example2">Last Name</label>
          </div>

          <div class="form-outline mb-4">
            <input
              type="number"
              id="form2Example2"
              class="form-control"
              formControlName="phoneNumber"
            />
            <label class="form-label" for="form2Example2">Phone Number</label>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="userCreated" class="user-created">
      <span>
        User Created SuccessFully. Go To <a routerLink="/login">Login</a></span
      >
    </div>
    <div *ngIf="userCreationRequest && !userCreated" class="user-not-created">
      <span> Oops!! User not Creating. Try again!</span>
    </div>

    <!-- Submit button -->
    <button
      type="button"
      (click)="createUser()"
      class="btn btn-primary btn-block mb-4 login-button"
    >
      Sign Up
    </button>

    <!-- Register buttons -->
    <div class="text-center">
      <p>Already registered? <a routerLink="/login">Login</a></p>
      <!-- <p>or sign up with:</p>
            <button type="button" class="btn btn-link btn-floating mx-1">
                <img src="../../assets/facebook.png" class="icon">
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <img src="../../assets/google.svg" class="icon">
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <img src="../../assets/twitter.png" class="icon">
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <img src="../../assets/linkedIn.png" class="icon">
            </button> -->
    </div>
  </form>
</div>
