.login-form {
  text-align: center;
  border-radius: 10%;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.icon {
  width: 40px;
}

.user-created {
  color: green;
  margin-bottom: 20px;
}

.user-not-created {
  margin-bottom: 20px;
  color: red;
}
