.login-form {
    width: 500px;
    margin-left: 450px;
    margin-top: 50px;
    text-align: center;
    border: 0.5px dashed gray;
    border-radius: 10%;
    padding: 20px;
}

h1{
    margin-bottom: 20px;
}

.icon {
    width: 40px;
}